%h1
  Welcome
  = @account.first_name + " " + @account.last_name 
  (
  = @account.email
  )

%h3 Add further details
= link_to "Manage account", edit_account_path(@account)   
.jobs
  - @account.jobs.each do |job|
    %p
      %strong
        = job.title
      at
      %strong
        = job.company
      = link_to "Remove", [@account, job], :method => :delete, :confirm => 'Are you sure you want to remove this job'
  = render :partial => 'jobs/form', :locals => {:job => Job.new}

